@import "tailwindcss";
@import "@repo/ui/styles.css";
@source "../../../packages/ui/src";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, "SF Mono", monospace;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  font-feature-settings: "ss03", "cv11";
}
